.sidebar {
  width: 140px;
  background: #ffffff;
  border-right: 1px solid #e0e4ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  box-shadow: 2px 2px 2px #1d2b4f;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px 8px;
  border: none;
  background: transparent;
  border-radius: 0;
  color: #4a5280;
  gap: 6px;
  transition: background 0.15s;
  position: relative;
  cursor: pointer;
}
.item:hover { background: #f0f1f9; }

.active {
  color: #1d2b4f;
  background: #e8eaf5;
}

.iconWrapper { scale:1.8; position: relative; display: flex; align-items: center; justify-content: center; }

.badge {
  position: absolute;
  top: 41px; right: 30px;
  background: #3d4464;
  color: #fff;
  border-radius: 50%;
  width: 17px; height: 17px;
  font-size: 10px;
  font-weight: 700;
  display: flex; align-items: center; justify-content: center;
  scale: 0.5;
}

.labelBox { margin: 0 8px; display: flex; flex-direction: column; align-items: center; gap: 2px; }
.label    { color: #000000; font-size: 12px; text-align: center; line-height: 1.3; font-weight: 700; }
.sublabel { font-size: 12px; font-weight: 400; text-align: start; }
